@import url("https://fonts.googleapis.com/css?family=Bellota|Ubuntu+Mono|Open+Sans|Ubuntu|Raleway|Space+Mono|Kaushan+Script&display=swap");

.nav-cabinet-menu {
  display: none;
}

table {
  color: black;
}

@media only screen and (max-width: 650px) {
  .nav-cabinet-menu {
    display: block;
  }

  .nav-link-list {
    display: none;
  }
}
